.puzzle_page {
  position: relative;
}
.puzzle_page_modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: bisque;
  opacity: 0.8;
}
.puzzle_container {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100vh;
  transition: all 10s ease;
}
.puzzle_background {
  width: 80%;
  background-color: aqua;
}
.puzzle_background img {
  width: 100%;
}
.puzzle_draggable_wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
  justify-content: space-evenly;
}
.puzzle_draggable_net {
  position: absolute;
  width: 100px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
.puzzle_draggable {
  margin-left: auto;
  margin-right: auto;
  width: min-content;
}
.demo {
  height: 100px;
  width: 100px;
  background-color: aqua;
}
